$sm: 768px;
$md: 992px;
$lg: 1200px;




$dark: #505961;
$mid: #959A9E;
$light: #FFF;
$accent: #FC4349;

.heading-text {
  font-family: 'Paytone One', sans-serif;
}

.decoration-text {
  font-family: 'Lora', serif;
}
