
@import '../node_modules/foundation-sites/scss/settings/settings';
@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-everything;

.month,
.h-event {
  @extend .row;
}

.month h2,
.h-event,
.dt-start,
.p-name,
.time,
.p-description {
  @extend .columns, .small-12;
}
.month + .h-event {
  margin-top: 3em;
  margin-bottom: 3em;
}

.h-event + .h-event {
  margin-bottom: 3em;
}
