<!doctype html>
<html ng-app="a2events" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ann Arbor Events</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="main.js"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-controller="CalendarController">

  <div class="a2events" ng-repeat="event in events">
    <div class="year" ng-if="$first || event.year != events[$index - 1].year">
      <div class="{{event.date | date: 'yyyy'}}">{{event.date | date: 'yyyy'}}</div>
    </div>
    <div class="month" ng-if="$first || event.month != events[$index - 1].month">
      <div class="{{event.date | date: 'MMMM'}}">{{event.date | date: 'MMMM'}}</div>
    </div>
    <div class="event">
      <div class="event-title">
        {{ event.name }}
      </div>
      <div class="event-date">
        {{ event.date | date: 'shortTime'}}
      </div>
    </div>
  </div>

</body>
</html>